<%= form_for @character, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.hidden_field :user_id %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :name, :class => 'text_field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :world, :class => 'control-label col-md-2' %>
    <div class="col-md-10 ">
      <%= select(:character, :world_id, World.all.collect {|w| [w.name, w.id]}, 
                 {}, {class: 'form-control'}) %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  characters_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
