<div class="row">
  <div class="cols-sm-12">

    <div>
      <%= link_to "Back to Zone: #{@room.zone.name}", @room.zone %>
    </div>

    <div class="page-header">
      <h1>Room: <%= @room.name %></h1>
    </div>

    <div>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
            edit_room_path(@room), :class => 'btn btn-default' %>
    </div>

    <div>
      <div class="label label-default">Properties</div>
      <table class="table table-striped">
        <tr>
          <td>Position</td>
          <td><%= @room.zz %>, <%= @room.yy %>, <%= @room.xx %></td>
        </tr>
      </table>
    </div>
    
    <div>
      <div class="label label-default">Description</div>
      <div class="well">
        <%= @room.desc %>
      </div>
    </div>

  </div>
</div>

