<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dekapede - <%= params[:controller].capitalize %></title>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag '/faye/faye.js' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= "#{params[:controller]}-#{params[:action]}" %>">
  <!-- <%= request.env['PATH_INFO'] %> -->

  <div class="container">
    <!-- Static navbar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
            data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Dekapede</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <%= nav_link_to "Home", '/' %>
            <%= nav_link_to "Characters", '/characters' %>
            <%= nav_link_to "Play", '/play' %>
            <%= nav_link_to "Build", '/worlds' %>
            <%= nav_link_to "About", '/main/about' %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li><%= link_to "(#{current_user.name}) Sign Out", 
                destroy_user_session_path, method: 'delete' %></li>
            <% else %>
              <li><%= link_to "Sign In", new_user_session_path %></li>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->
    </nav> 
   
    <div class="main-content">
      <%= bootstrap_flash %>

      <%= yield %>
    </div>
  </div>
  </body>
</html>
